@import 'bootstrap';

html {
}

body {
  background: transparent;
}

html, body {
  padding: 20px;
}

.navbar-default {
  border-color: transparent;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.table {
  margin-bottom:50px;
}

.table tr + tr td {
  border: 0;
}

.symbol {
  top:-1px;
  font-size:8px;
  margin-left:-12px;
}

.competencies li {
  padding-left:12px;
}
