<h2 id='title'>cl-frontend</h2>

{{#link-to 'index'}}Home{{/link-to}}

{{#if session.isAuthenticated}}
  {{#link-to 'organizations'}}Organizations{{/link-to}}
  {{#link-to 'users'}}People{{/link-to}}
  {{#link-to 'profiles' session.user.profile}}Profile{{/link-to}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  {{#link-to 'signup'}}Signup{{/link-to}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}
<br>
<h4>Welcome {{session.user.email}}</h4>

{{outlet}}
